coreapi==2.3.3
coreschema==0.0.4
Django==2.1.2
djangorestframework==3.8.2
drf-extensions==0.4.0
gunicorn==19.9.0
Jinja2==2.10
MarkupSafe==1.1.0
psycopg2-binary==2.8.2
python-memcached==1.59
pytz==2018.9
requests==2.19.1
sentry-sdk==0.7.3
six==1.12.0
teamcity-messages==1.21
uritemplate==3.0.0
urllib3==1.23
whitenoise==4.1.1
