{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        {% block css %}{% endblock %}

        <!-- VUE.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

        <!-- styles -->
        {% block style %}{% endblock %}

    </head>

    <body>

        {% block navigation %}
        {% endblock %}

        {% block application %}
        {% endblock %}

        {% block js %}{% endblock %}

    </body>

</html>
